package com.example.mybatis.demo.service.impl;

import com.example.mybatis.demo.entity.SysUser;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;


@Service
public class SysUserServcie implements com.example.mybatis.demo.service.ISysUserService {


    @Autowired
    private com.example.mybatis.demo.mapper.ISysUserMapper sysUserMapper;

    @Override
    public com.example.mybatis.demo.entity.PagedResult<com.example.mybatis.demo.entity.SysUser> findPagedSysUserList(com.example.mybatis.demo.entity.SysUser sysUser, com.example.mybatis.demo.entity.PageVO pageVO) {
        return sysUserMapper.findPagedSysUserList(sysUser,pageVO);
    }

    @Override
    public com.example.mybatis.demo.entity.SysUser findSysUserById(Integer userId) {
        return sysUserMapper.findSysUserById(userId);
    }

    @Override
    public List<SysUser> findSysUserList(com.example.mybatis.demo.entity.SysUser sysUser) {
        return sysUserMapper.findSysUserList(sysUser);
    }

    @Override
    public void createSysUser(com.example.mybatis.demo.entity.SysUser sysUser) {
        sysUserMapper.createSysUser(sysUser);
    }

    @Override
    public void updateSysUser(com.example.mybatis.demo.entity.SysUser sysUser) {
        sysUserMapper.updateSysUser(sysUser);
    }

    @Override
    public void deleteSysUser(Integer userId) {
        sysUserMapper.deleteSysUser(userId);
    }
}
